
<form [formGroup]="service.form2" class="normal-form" (submit)="onSubmit()">
      <div class="controls-container">
        <mat-form-field>
          <input formControlName="HeroName" matInput placeholder="Hero Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>     
        
  <mat-form-field>
    <mat-select matInput formControlName="Role" placeholder="Role">
      <ng-container *ngFor="let role of roles">
        <mat-option value="{{role.name}}">{{role.name}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
          <div class="controls-container">
            <div class="add-bottom-padding">
              <mat-radio-group formControlName="Difficulty"> <p>Difficulty</p>
                <mat-radio-button value="Easy">Easy</mat-radio-button>
                <mat-radio-button value="Medium">Medium</mat-radio-button>
                <mat-radio-button value="Hard">Hard</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form2.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
</form>
