<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary">

            <!-- Navbar brand -->
            <mdb-navbar-brand><a class="navbar-brand" routerLink='/home'>
                        <img src="/assets/img/overwatch.png" height="40" class="d-inline-block align-top" alt="">
                        Overwatch Crash Course
            </a></mdb-navbar-brand>
        
            <!-- Collapsible content -->
            <links>
        
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect routerLink='/game'>About the Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect routerLink='/heroes'>Heroes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect routerLink='/roles'>Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect routerLink='/userprofile'>User Details</a>
                    </li>
                </ul>

                  <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                             <a class="nav-link waves-light" mdbWavesEffect (click)="onLogout()">Logout</a>
                        </li>
                  </ul>
                <!-- Links -->
        
            </links>
            <!-- Collapsible content -->
        
        </mdb-navbar>
        <!--/.Navbar-->

<div class="wrapper">
    <div class="wrapped-div">
        <h1><img src="/assets/img/welcome.png" class="responsive" id="myprops"></h1>
        
        <p> This site's purpose is to introduce you game Overwatch and it's basic features.
        Learn about the heroes you can play with, their roles and the game modes.
        You are able to maintain the Heroes database: add new Hero, modify or delete the existing ones.
        </p>    
        <p id="para">Enjoy exploring!</p>
    </div>
</div>