<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">
              <img src="/assets/img/overwatch.png" height="40" class="d-inline-block align-top" alt="">
              Overwatch Crash Course
  </a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink='/home'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink='/game'>About the Game</a>
        </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink='/heroes'>Heroes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link waves-light" mdbWavesEffect routerLink='/role'>Roles<span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink='/userprofile'>User Details</a>
          </li>
      </ul>

        <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                   <a class="nav-link waves-light" mdbWavesEffect (click)="onLogout()">Logout</a>
              </li>
        </ul>
      <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="wrapper">
  <div class="wrapped-div">
      <h1><b><i>About Roles</i> </b></h1>
      <img src="/assets/img/roles.jpg" class="responsive" class="center">
      <p><i><b> Each hero fills a different role in Overwatch. </b></i></p>
<div class="card-deck">
    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light gameModeImage" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="/assets/img/{{roles[1].image}}" class="rounded mb-0"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>
              {{roles[1].name}}
          </h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text> 
            {{roles[1].description}}
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  
    <!-- Card -->
    <mdb-card>
        <div class="view rgba-white-slight waves-light gameModeImage" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="/assets/img/{{roles[2].image}}" class="rounded mb-0"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>
                {{roles[2].name}}
            </h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text> 
              {{roles[2].description}}
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
  
      <mdb-card>
          <div class="view rgba-white-slight waves-light gameModeImage" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="/assets/img/{{roles[3].image}}" class="rounded mb-0"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>
                  {{roles[3].name}}
              </h4>
            </mdb-card-title>
      
            <!--Text-->
            <mdb-card-text> 
                {{roles[3].description}}
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
  </div>
</div>
</div>