
.wrapper {
    display: flex !important;
    flex-direction: column !important; 
    justify-content: center !important;
    width: 100% !important;
    padding-top: 50px !important;
    padding-left: 200px !important;
    padding-right: 200px !important;
  }

#createButton {
    display: inline-flex;
    font-weight: 600;
    font-size: 16px;
    margin-left: 0 !important;
    margin-bottom: 5px;
}

.example-card {
  max-width: 200px;
  margin:20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

mat-card-content{
  text-align: center;
}

li {
  list-style-type: none;
}

mat-card{
  border: 1px solid black;
}

pagination-controls{
  background-color: white;
  padding-right: 40px;
  padding-top:1rem;
}
