<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink='/home'>
      <img src="/assets/img/overwatch.png" height="40" class="d-inline-block align-top" alt="">
      Overwatch Crash Course
    </a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/game'>About the Game</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/heroes'>Heroes<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/roles'>Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/userprofile'>User Details</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="onLogout()">Logout</a>
      </li>
    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="wrapper">
  <button id="createButton" type="button" class="btn btn-success mr-auto" (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <div class="flex-container">
    <li *ngFor="let hero of dataSource | paginate: config" (click)="goto(hero.id)">
      <mat-card class="example-card">
        <img mat-card-image src="/assets/img/heroes/{{hero.image}}">
        <mat-card-content>
          <mat-card-title>{{hero.name}}</mat-card-title>
        </mat-card-content>
      </mat-card>
    </li>
  </div>
  <pagination-controls class="myPaginator" (pageChange)="pageChanged($event)"></pagination-controls>
</div>